a {color: #4d6db3;}
a:hover {text-decoration: underline;}

/* HEADER */
header {
    background-color: #4d6db3;
    border-bottom: 1px solid #364d80;
    padding: 10px 0;
}

/* LOGO */
header .logo img {
    height: 22px;
}

/* SEARCH */
header .search form input[type="text"] {
    width: 100%;
    background: #fff;
    border: none;
    font-size: 12px;
    padding: 0 10px;
    height: 25px;
    line-height: 25px;
    border-radius: 3px 0 0 3px;
    color: #565656;
    font-family: 'Open Sans', sans-serif;
}

header .search form button {
    width: 100%;
    background-color: #f7f7f7;
    border: none;
    font-size: 12px;
    padding: 0 10px;
    height: 25px;
    line-height: 25px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    color: #6d6d6d;
}

header .search form button:hover {
    background: #ececec;
}

/* MENU */
header .menu {
    padding: 0;
}

header .menu a {
    color: rgba(255,255,255,.8);
    text-decoration: none;
}

header .menu a:hover {
    color: #fff;
}

header .menu .image {
    width: 22px;
    height: 22px;
}

header .menu .image img {
    border-radius: 100%;
}