<div class="container">
	<div class="row">
		<div class="col-4">
			<span class="h5">SEARCHING:
				<span [hidden]="text.length <= 0">{{text}}</span>
			</span>
			<div class="order-3 order-sm-0 search mb-2">
				<form>
					<div class="row no-gutters align-items-center">
						<div class="column col-10">
							<input type="text" name="search" placeholder="Search..." [(ngModel)]="text" (keyup.enter)="searchUser()">
						</div>
						<div class="column col-2">
							<button type="button" (click)="searchUser()">
								<i class="fa fa-search"></i>
							</button>
						</div>
					</div>
				</form>
			</div>
			<app-person-list *ngIf="persons" [persons]="persons" (select)="getPerson($event)" (add)="add($event)" (unfriend)="unfriend($event)"></app-person-list>
		</div>
		<div class="col">
			<div class="row info">
				<div class="col person fn-container" *ngIf="person">
					<div class="row justify-content-center align-items-center" (mouseenter)="switchDeletable()" (mouseleave)="switchDeletable()">
						<div class="col-auto pic">
							<span>
								<img src="../../../assets/img/profile1.jpg" alt="">
							</span>
						</div>
						<div class="col">
							<span class="h5">{{person.user.name + ' ' + person.user.surname}}</span>
							<div *ngIf="person.isFriend">
								<p>{{person.user.bio}}</p>
								<div class="friend-footer">Friend</div>
							</div>
						</div>
						<div class="unfriend">
							<button class="btn btn-link float-right mr-3 unfriend" (click)="unfriend()" *ngIf="deletable && person.isFriend">
								<i class="fas fa-times-circle fa-2x"></i>
							</button>
						</div>
						<div class="add">
							<button class="btn btn-link float-right mr-3 add" (click)="add()" *ngIf="deletable && !person.isFriend">
								<i class="fas fa-plus-square fa-2x"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>