<div class="row">
  <div class="col post create-post">
    <div class="row justify-content-center">
      <div class="col-auto pic">
        <span>
          <img src="../../../assets/img/profile1.jpg" alt="">
        </span>
      </div>
      <div class="col">
        <form>
          <textarea name="message" placeholder="Post a message..." [(ngModel)]="post.text"></textarea>
          <div class="create-post-footer d-flex justify-content-between">
            <div class="post-type">
              <i class="fas fa-user-alt"></i>
            </div>
            <div>
              <button class="btn" (click)="addPost()" [class.disabled]="!post.text" [disabled]="!post.text">Post</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>