<div class="row">
  <div class="col post">
    <div class="row justify-content-center">
      <div class="col-auto pic">
        <a href="#">
          <img src="../../../assets/img/profile1.jpg" alt="">
        </a>
      </div>
      <div class="col">
        <p><span class="h6">{{post.user.name + ' ' + post.user.surname}}</span><br>{{post.text}}</p>
        <div class="post-footer d-flex justify-content-between">
          <div class="like-type">
            <i class="fas fa-thumbs-up" [hidden]="post.likes.length <= 0"></i>
            <span class="badge badge-pill badge-light" [hidden]="post.likes.length <= 0">{{post.likes.length}}</span>
          </div>
          <div class="date">
            <span class="date">{{post.creationDate}}</span>
          </div>
          <div>
            <button type="submit">
              <i class="far fa-thumbs-up"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>