<div class="row">
  <div class="col post fn-container">
    <div class="row justify-content-center">
      <div class="col-auto pic">
        <span>
          <img src="../../../assets/img/profile1.jpg" alt="">
        </span>
      </div>
      <div class="col">
        <p>
          <button class="btn btn-link float-right" (click)="removePost()">
            <i class="fas fa-times" [hidden]="post.user.id !== user.id"></i>
          </button>
          <span class="h5">{{post.user.name + ' ' + post.user.surname}}</span>
          <br>{{post.text}}</p>
        <div class="post-footer d-flex justify-content-between">
          <div class="likes d-flex flex-row">
            <div class="cool-like">
              <button class="btn btn-link" (click)="like(1)">
                <i class="far fa-thumbs-up" *ngIf="post.likes" [hidden]="userCoolLike"></i>
                <i class="fas fa-thumbs-up" *ngIf="post.likes" [hidden]="!userCoolLike"></i>
                <span class="badge badge-pill badge-light" *ngIf="post.likes" [hidden]="coolLikes <= 0">{{coolLikes}}</span>
              </button>
            </div>
            <div class="dontcare-like">
              <button class="btn btn-link" (click)="like(2)">
                <i class="far fa-meh" *ngIf="post.likes" [hidden]="userDontcareLike"></i>
                <i class="fas fa-meh" *ngIf="post.likes" [hidden]="!userDontcareLike"></i>
                <span class="badge badge-pill badge-light" *ngIf="post.likes" [hidden]="dontcareLikes <= 0">{{dontcareLikes}}</span>
              </button>
            </div>
            <div class="arg-like">
              <button class="btn btn-link" (click)="like(3)">
                <i class="far fa-angry" *ngIf="post.likes" [hidden]="userArgLike"></i>
                <i class="fas fa-angry" *ngIf="post.likes" [hidden]="!userArgLike"></i>
                <span class="badge badge-pill badge-light" *ngIf="post.likes" [hidden]="argLikes <= 0">{{argLikes}}</span>
              </button>
            </div>
          </div>
          <div class="date">
            <span class="date">{{post.creationDate | date: 'dd/MM/yyyy'}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>