<div class="row">
  <div class="col person fn-container" (click)="selectPerson()">
    <div class="row justify-content-center align-items-center" (mouseenter)="switchDeletable()" (mouseleave)="switchDeletable()">
      <div class="col-auto pic">
        <span>
          <img src="../../../assets/img/profile1.jpg" alt="">
        </span>
      </div>
      <div class="col">
        <span class="h5">{{person.user.name + ' ' + person.user.surname}}</span>
      </div>
      <div class="unfriend">
        <button class="btn btn-link float-right mr-3 unfriend" (click)="unfriend()" *ngIf="deletable && person.isFriend">
          <i class="fas fa-times-circle fa-2x"></i>
        </button>
      </div>
      <div class="add">
        <button class="btn btn-link float-right mr-3 add" (click)="add()" *ngIf="deletable && !person.isFriend">
          <i class="fas fa-plus-square fa-2x"></i>
        </button>
      </div>
    </div>
  </div>
</div>